@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
	position: relative;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background: #000;
}

.sidebar {
	font-family: 'Dosis', sans-serif;
	position: fixed;
	margin-top: 0;
	left: 5px;
	height: 96%;
	width: 240px;
	/*
	background: -webkit-linear-gradient(0deg, rgb(148, 111, 61), rgb(101, 22, 114), rgb(6, 61, 105));
	background: -moz-linear-gradient(0deg, rgb(148, 111, 61), rgb(101, 22, 114), rgb(6, 61, 105));
	background: linear-gradient(0deg, rgb(148, 111, 61), rgb(101, 22, 114), rgb(6, 61, 105));
	 */
	background: #884B99;
	padding: 6px 14px;
	border-radius: 12px 12px 12px 12px; 
}

.sidebar .logo {
	color: #ffffff;
	display: flex;
	height: 50px;
	width: 100%;
	align-items: center;
}

.logo i{
	font-size: 28px;
	margin-right: 10px;
}

.logo_name {
	font-size: 20px;
	font-weight: 400;
}

#side_btn {
	position: absolute;
	color: #ffffff;
	left: 90%;
	top: 6px;
	font-size: 24px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	transform: translateX(-50%);
}

.sidebar ul {
	margin-top: 20px;
}

.sidebar ul li {
	position: relative;
	list-style: none;
	height: 50px;
	width: 100%;
	margin: 0 5px;
	line-height: 50px;
	right: 30px;

}

.sidebar ul li a {
	color: #ffffff;
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
	border-radius: 10px;
}

.sidebar ul li a:hover {
	color: #423189;
	background: #ffffff;
}

.sidebar ul li a i {
	height: 16px;
	min-width: 50px;
	border-radius: 20px;
}

/*.sidebar ul li a span {
	align-items: right;
}

.access {
	text-align: center;
}

.access a {
	position: relative;
	transition: all 0.4s ease;
	padding: 20px;
	width: 100%;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	border-radius: 12px;
	top: 120%;
}

.access a:hover {
	color: #423189;
	background: #fff;
}
*/
.sidebar .profile_content {
	position: absolute;
	color: #ffffff;
	bottom: 0;
	left: 0;
	width: 100%;

}

.sidebar .profile_content .profile .profile_details {
	display: flex;
	align-items: center;
}

.sidebar .profile_content .profile .profile_details .nickname {
	margin-left: 12px;
	margin-bottom: 10px;
}

.exit_btn {
	position: absolute;
	padding: 10px 6px;
	font-size: 30px;
	color: #ffffff;
	left: 80%;
	margin: 0 auto;
}

.sidebar .profile_content .profile .profile_details img {
	width: 45px;
	height: 45px;
	margin-left: 15px;
	object-fit: cover;
	margin-bottom: 10px;
}

.home_content {
	position: relative;
	width: calc(100% - 240px);
	height: 100%;
	left: 268px;
}

.our_img { 
	padding-top: 70px;
	width: 120px;
	height: 120px;	
}

.logo_phrase {
  	font-size: 120px;
  	text-align: center;
  	text-transform: uppercase;
  	text-rendering: optimizeLegibility;
  	color: #e0dfdc;
  	margin-top: 0;
  	margin-bottom: 0;
  	letter-spacing: 0.1em;
  	text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.header_home_content {
	position: fixed;
	width: calc(100% - 290px);
	left: 285px;
	height: 75px;
	border-radius: 12px;
	text-align: center;
	/*
	background: -webkit-linear-gradient(0deg,rgb(6, 61, 105), rgb(101, 22, 114), rgb(148, 111, 61));
	 */
	background: #BE9DC7;
	color: #fff;
}

.information {
	position: fixed;
	width: calc(100% - 290px);
	left: 285px;
	height: 88%;
	border-radius: 12px;
	color: white;
	text-align: center;
	/*background: -webkit-linear-gradient(0deg, rgb(6, 61, 105), rgb(101, 22, 114), rgb(148, 111, 61));*/
/*
background: #ABABD9;
background: -webkit-linear-gradient(bottom right, #ABABD9, #8F6B9C);
background: -moz-linear-gradient(bottom right, #ABABD9, #8F6B9C);
background: linear-gradient(to top left, #ABABD9, #8F6B9C);
 */
	top: 95px;
	background: -webkit-linear-gradient(top, #FFEDA3, #FF9996);
}
/*                ---kanban---            */

.kanban {
	display: flex;
	padding: 30px;
	width: 750px;
	background: #009578;
	border-radius: 5px;
}

.kanban * {
	font-family: sans-serif;
}

.kanban__column {
	flex: 1;
}

.kanban__column:not(:last-child) {
	margin-right: 30px;
}

.kanban__column-title {
	margin-bottom: 20px;
	font-size: 30px;
	color: white;
	user-select: none;
}

.kanban__item-input {
	padding: 10px 15px;
	box-sizing: border-box;
	background: white;
	border-radius: 5px;
	cursor: pointer;
}

.kanban__dropzone {
	height: 10px;
	transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
	height: 20px;
	background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: white;
	background: rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}